<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-item *ngFor="let codes of code">
      <ion-accordion-group  >
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>First Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>

      </ion-accordion-group>

      <ion-badge slot="end">{{codes.tea_name}}</ion-badge>
    </ion-item>

</ion-content>
