<ion-toolbar>
  <ion-title>
    Teacher
  </ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true">
<!--   <ion-list>
    <ion-item button *ngFor="let teachers of teacher">
      <ion-avatar slot="start" >
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-avatar>

      <ion-label class="ion-text-wrap">
          <h3>{{teachers.tea_name}} {{teachers.tea_paternal}}  {{teachers.tea_maternal}}</h3>
          <p>{{teachers.att_date | date:'y-MM-dd'}}</p>
      </ion-label>

      <ion-badge slot="end">{{teachers.tea_name}}</ion-badge>
    </ion-item>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-list> -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Grupo</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
  <ion-toolbar>
    <ion-buttons color="primary" slot="end">
      <ion-button fill="clear">Action 1</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-card>

</ion-content>
