<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid >
    <ion-row>
      <ion-button><ion-icon slot="icon-only" name="person-circle" size="large"></ion-icon></ion-button>
      <ion-button>Button</ion-button>
      <ion-button>Button</ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid >
    <ion-row>
      <ion-button>Button</ion-button>
      <ion-button>Button</ion-button>
      <ion-button>Button</ion-button>
    </ion-row>
  </ion-grid>



</ion-content>
